.custom-btn {
  background-color: #343a40;
  border: none;
  color: white;
  transition: 0.3s ease-in-out;
}
.custom-btn:hover {
  background-color: #495057;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #dee2e6;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #f8f9fa;
}

.btn-exportar {
  margin-bottom: 1rem;
}
