<div class="card">
  <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
    <span>Bodega</span>
    <button class="btn btn-success btn-sm" (click)="abrirModalBodega(false)">
      Nueva Entrada
    </button>
  </div>
  <div class="card-body">
    <!-- Filtros -->
    <div class="row mb-3">
      <div class="col-md-3">
        <label class="form-label">Filtrar por tipo insumo</label>
        <select class="form-control" [(ngModel)]="filtroTipo">
          <option value="">Todos</option>
          <option value="comida">Comida</option>
          <option value="bebida">Bebida</option>
        </select>
        <button class="btn btn-outline-secondary mt-1" (click)="filtrarPorTipo()">🔍</button>
      </div>
      <div class="col-md-3">
        <label class="form-label">Filtrar por fecha exacta</label>
        <input type="date" class="form-control" [(ngModel)]="filtroFecha" />
        <button class="btn btn-outline-secondary mt-1" (click)="filtrarPorFecha()">🔍</button>
      </div>
      <div class="col-md-4">
        <label class="form-label">Filtrar por rango de fechas</label>
        <div class="input-group mb-2">
          <input type="date" class="form-control" placeholder="Fecha inicio" [(ngModel)]="filtroFechaInicio" />
          <input type="date" class="form-control" placeholder="Fecha fin" [(ngModel)]="filtroFechaFin" />
          <button class="btn btn-outline-secondary" (click)="filtrarPorRangoFecha()">🔍</button>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <button class="btn btn-secondary w-100" (click)="limpiarFiltros()">Limpiar Filtros</button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped align-middle mb-0">
        <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Tipo Insumo</th>
          <th>Fecha Entrada</th>
          <th>Unidad Medida</th>
          <th>Stock Mínimo</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bodega of bodegas">
          <td>{{ bodega.id }}</td>
          <td>{{ getNombreProducto(bodega.producto_id) }}</td>
          <td>{{ bodega.cantidad }}</td>
          <td>{{ bodega.tipo_insumo }}</td>
          <td>{{ bodega.fecha_entrada }}</td>
          <td>{{ bodega.unidad_medida }}</td>
          <td>{{ bodega.stock_minimo }}</td>
          <td>
            <button class="btn btn-warning btn-sm me-2" (click)="abrirModalBodega(true, bodega)">
              Editar
            </button>
            <button class="btn btn-danger btn-sm" (click)="abrirModalEliminar(bodega.id)">
              Eliminar
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
